html,
body {
  margin: 0;
  padding: 0;
}

ul {
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: $mainText;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: $secondaryText;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}